<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <%- include('../partials/_navbar') -%>

            <!-- Table -->
            <form action="" method="post">
                <div class=" min-w-full overflow-x-auto justify-center">
                    <table class="table-compact table max-w-8xl ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Ad soyad</th>
                                <th>Group</th>
                                <th>Veli ad soyad</th>
                                <th>Veli Telefon No</th>
                                <th>Açıklama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% students.forEach(student=> { %>
                                <tr>
                                    <td>
                                        <%= student.id %>
                                    </td>
                                    <td class="name">
                                        <%= student.fullName %>
                                    </td>
                                    <td>
                                        <%= student.group.name %>
                                    </td>
                                    <td>
                                        <%= student.parent.fullName %>
                                    </td>
                                    <td>
                                        <%= student.parent.telephoneNumber %>
                                    </td>
                                    <td>
                                        <div class="form-control">
                                            <input placeholder="Type here" type="text" name="<%=student.id%>" value="Tüm gün"
                                                class="input max-w-full" />
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>
                <input type="text" hidden value="<%= csrfToken %>" name="_csrf">
                <input type="hidden" name="type" value="last" />
                <button type="send" class="rounded-lg btn btn-primary btn-block mt-4">Devam et</button>
            </form>
            <%- include('../partials/_footer') -%>
                <%- include('../partials/_scripts') -%>
    </body>

    </html>