<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <%- include('../partials/_navbar') -%>
            <!-- Table -->
            <div class="flex min-w-full overflow-x-auto justify-center">
                <table class="table-compact table max-w-8xl ">
                    <thead>
                        <tr>
                            <th>Ad soyad</th>
                            <th>Veli Telefon No</th>
                            <th>Açıklama</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let count=0 %>
                            <% students.forEach(student=> { %>
                                <tr>
                                    <td>
                                        <img class="max-w-[130px] h-auto rounded-lg" src="/uploads/<%= student.photo %>"
                                            alt="<%= student.fullName %>">
                                    </td>
                                    <td>
                                        <%= student.id %>
                                    </td>
                                    <td class="name">
                                        <%= student.fullName %>
                                    </td>
                                    <td>
                                        <%= student.group.name %>
                                    </td>
                                    <td class="max-w-min">
                                        <a class="link link-primary link-ghost-primary"
                                            href="student/<%= student.id %>">Profili görüntüle</a>
                                    </td>
                                </tr>
                                <% }) %>
                    </tbody>
                </table>
            </div>
            <%- include('../partials/_pagination') -%>
                <%- include('../partials/_footer') -%>
                    <%- include('../partials/_scripts') -%>
    </body>

    </html>