<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <%- include('../partials/_navbar') -%>
            <div class="text-end space-y-4">
                <button class="btn btn-primary" type="button" id="print">Yazdır</button>
                <div class="dropdown">
                    <label class="btn btn-solid-primary my-2" tabindex="0">Seçenekler</label>
                    <div class="dropdown-menu">
                        <a tabindex="-1" href="/student/<%= student.id %>/practice-exams"
                            class="dropdown-item text-start text-sm link link-primary link-ghost-primary">Deneme
                            sınavlarını görüntüle</a>
                            <a tabindex="-1" href="/student/<%= student.id %>/truancies"
                                class="dropdown-item text-start text-sm link link-success link-ghost-success">Devamsızlıkları
                                görüntüle</a>
                    </div>
                </div>
                <% if (typeof alert !="undefined" ) { %>
                    <%- include('../partials/_alert',alert) -%>
                        <% } %>
                            <div class=" grid gap-4 grid-cols-1 md:grid-cols-2 space-x-4 justify-center items-center">
                                <div class="border rounded-lg p-4 overflow-x-auto">
                                    <div class="flex flex-wrap space-x-8 text-nowrap items-center">
                                        <img class="max-w-[150px] rounded-lg" src="/uploads/<%= student.photo %>"
                                            alt="">
                                        <div>
                                            <div class="flex space-x-2">
                                                <p>İsim soyisim:</p>
                                                <p class="text-md"><b>
                                                        <%= student.fullName %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Telefon no:</p>
                                                <p class="text-md"><b>
                                                        <%= student.telephoneNumber %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Numara:</p>
                                                <p class="text-md"><b>
                                                        <%= student.id %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Doğum tarihi:</p>
                                                <p class="text-md"><b>
                                                        <%= student.dateOfBirth %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>TC No:</p>
                                                <p class="text-md"><b>
                                                        <%= student.tcNo %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Grup:</p>
                                                <p class="text-md"><b>
                                                        <%= student.group.name %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Sınıf öğretmeni:</p>
                                                <p class="text-md"><b>
                                                        <%= student.group.teacher.fullName %>
                                                    </b></p>
                                            </div>
                                            <div class="flex space-x-2">
                                                <p>Devamsızlık:</p>
                                                <p class="text-md"><b>
                                                        <%= student.truancies.length %> gün
                                                    </b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            <%- include('../partials/_footer') -%>
                <%- include('../partials/_scripts') -%>
    </body>

    </html>