<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <%- include('../partials/_navbar') -%>
            
        <% if (typeof alert !="undefined" ) { %>
            <%- include('../partials/_alert',alert) -%>
                <% } %>
                <div
                class="grid gap-x-8 gap-y-4 grid-cols-1 md:grid-cols-3 sm:grid-cols-2 sm:flex sm:justify-center items-center">
                <section class="bg-gray-2 rounded-xl">
                    <p class="text-xl font-bold m-4">Öğrenci</p>
                    <form method="post"
                        class="mx-auto flex w-full max-w-lg flex-col rounded-xl border border-border bg-backgroundSecondary p-4 sm:p-20">
                        <div class="form-group">
                            <div class="form-field">
                                <input required type="text" hidden value="<%= csrfToken %>" name="_csrf">
                            </div>
                            <div>
                                <label class="sr-only" for="tc"></label>
                                <input required class="input max-w-full" maxlength="11" minlength="11" placeholder="TC Kimlik No" type="tel" id="tc"
                                    name="tc" />
                            </div>
                            <input required placeholder="Öğrenci ismi" type="text" name="studentFullName" id="studentFullName"
                                class="input max-w-full" />
                            <div>
                                <select class="input max-w-full" id="studentGroup" name="groupId">
                                    <option value="-1">Grup Seçiniz</option>
                                    <% groups.forEach(group=> { %>
                                        <option value="<%= group.id %>">
                                            <%= group.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>


                            <div>
                                <input required class="input max-w-full" placeholder="Telefon no" type="tel" id="phone"
                                name="studentTelephoneNumber" minlength="10" maxlength="10" oninput="formatPhoneNumber(this)">
                                <label class="form-label" for="phone">10 Hane şeklinde giriniz <br>Örn: 551 555 55 55</label>
                            </div>
                            <div>
                                <input required type="date" class="input max-w-full" placeholder="Doğum tarihi"
                                    name="studentBirthDate" id="">
                            </div>
                        </div>

                </section>
                <section class="bg-gray-2 rounded-xl">
                    <p class="text-xl font-bold m-4">Veli</p>
                    <div
                        class="mx-auto flex w-full max-w-lg flex-col rounded-xl border border-border bg-backgroundSecondary p-4 sm:p-20">
                        <div class="form-group">
                            <select class="input max-w-full" id="parent" name="parentId">
                                <option value="-1">Veli Seçiniz</option>
                                <% parents.forEach(parent=> { %>
                                    <option value="<%= parent.id %>">
                                        <%= parent.fullName %>
                                    </option>
                                    <% }) %>
                            </select>
                            <div class="space-y-4">
                                <label class="sr-only" for="parent"></label>
                                <input class="input max-w-full" placeholder="Veli İsim" type="text" id="parentFullName"
                                    name="parentFullName" />
                                <input class="input max-w-full" minlength="10" maxlength="10"  placeholder="Veli Telefon no" type="tel"
                                    id="parentTelephoneNumber" name="parentTelephoneNumber" oninput="formatPhoneNumber(this)">
                                    <label class="form-label" for="parentTelephoneNumber">10 Hane şeklinde giriniz <br>Örn: 551 555 55 55</label>

                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="mt-4">
                <button type="send" class="rounded-lg btn btn-primary btn-block">Kayıt ekle</button>
            </div>
            </form>
            <%- include('../partials/_footer') -%>
                <%- include('../partials/_scripts') -%>
                    <script>
                        const parentFullName = document.querySelector("#parentFullName");
                        const parentTelephoneNumber = document.querySelector("#parentTelephoneNumber");
                        const parent = document.querySelector("#parent");

                        parent.addEventListener("change", () => {
                            if (parent.value != -1) {
                                parentTelephoneNumber.disabled = true;
                                parentFullName.disabled = true;
                            } else {
                                parentTelephoneNumber.disabled = false;
                                parentFullName.disabled = false;
                            }
                        });

                        parentFullName.addEventListener("keypress", checkInputLength);
                        parentTelephoneNumber.addEventListener("keypress", checkInputLength);

                        function checkInputLength() {
                            if (parentFullName.value.trim().length < 2 || parentTelephoneNumber.value.trim().length < 2) {
                                parent.disabled = false;
                            } else {
                                parent.disabled = true;
                            }
                        }
                        function formatPhoneNumber(input) {
                            // Boşlukları ve tireleri temizle
                            let phoneNumber = input.value.replace(/\s|-/g, '');
                          
                            // İlk 10 rakamı al (fazla rakamları at)
                            phoneNumber = phoneNumber.slice(0, 10);
                          
                            // Telefon numarasını 3 3 4 formatına dönüştür
                            let formattedPhoneNumber = phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '$1 $2 $3');
                          
                            // Girilen değeri güncelle
                            input.value = formattedPhoneNumber;
                          }
                          
                    </script>

    </body>

    </html>


    